################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ASPNetCoreWebAPI/.vs/ASPNetCoreWebAPI
/ASPNetCoreWebAPI/obj
/ASPNetCoreWebAPI/.config
/ASPNetCoreWebAPI/bin/Debug/net8.0
